.create-spot {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* border: 2px solid black; */
height: 800px;


}
.create-spots {
display: flex;
flex-direction: column;
gap: 5px;
border-radius: 7px;
border: 45px, 10px rgb(237, 177, 177);
width: 500px;
/* border: 2px solid #d9d5d5; */

}

.host-form-button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px ;
    width: 506px;
    height:45px;
    background: linear-gradient(to left, #e51e50, #d70565);
    color: white;
    border:none;
    margin-top: 5px;
}

.host-place {

font-size: 28px;
font-weight: bold;
margin-bottom: 30px;
display: flex;
justify-content: center;

}

.host-name {
border-radius: 7px;
height: 40px;
width: 99%;

}

.preview-image {

    border-radius: 7px;
    height: 40px;
    width: 99%;
}

.host-address {

    border-radius: 7px;
    height: 40px;
    width: 99%;
}

.host-city {


    border-radius: 7px;
    height: 40px;
    width: 99%;
}

.host-state {

    border-radius: 7px;
    height: 40px;
    width: 99%;

}



.host-country {

    border-radius: 7px;
    height: 40px;
    width: 99%;

}

.host-lat {

    border-radius: 7px;
    height: 40px;
    width: 99%;
}

.host-lng {
    border-radius: 7px;
    height: 40px;
    width: 99%;

}

.host-description {

    border-radius: 7px;
    height: 40px;
    width: 99%;
}

.host-price {
    border-radius: 7px;
    height: 40px;
    width: 99%;


}
