.create-spot {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* border: 2px solid black; */
height: 800px;


}
.create-spots {
display: flex;
flex-direction: column;
gap: 5px;
border-radius: 7px;
border: 45px, 10px rgb(237, 177, 177);
width: 500px;
/* border: 2px solid #d9d5d5; */

}

.host-form-button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px ;
    width: 564px;
    height:60px;
    background: linear-gradient(to left, #e51e50, #d70565);
    color: white;
    border:none;
    margin-top: 5px;
    font-size: 22px;
}

.host-place {

font-size: 28px;
font-weight: bold;
margin-bottom: 30px;
display: flex;
justify-content: center;

padding: 15px;
width: 100%;

}
.error-map {
    display: flex;
    justify-content: flex-start;
    width: 500px;
    height: 40px;
    font-size: 16px;
    color: red
}

.host-name {
    width: 550px;
    height: 40px;

}

.preview-image {

    width: 550px;
    height: 40px;
}

.host-address {

    width: 550px;
    height: 40px;
}

.host-city {


    width: 550px;
    height: 40px;
}

.host-state {

    width: 550px;
    height: 40px;

}



.host-country {

    width: 550px;
    height: 40px;

}

.host-lat {

    width: 550px;
    height: 40px;
}

.host-lng {
    width: 550px;
    height: 40px;

}

.host-description {

    width: 550px;
    height: 40px;
}

.host-price {
    width: 550px;
    height: 40px;


}
