.card-container{
    height: 370px;
    width: 340px;
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */


}

.spot-img {
border-radius: 7px;
height: 280px;
width:300px;
display: block;

object-fit: cover;
}
.spot-description {
display: flex;
width: 300px;
padding: 15px;
height: 80px;
margin-bottom: 40px;
/* margin-right: 10px; */
/* border: 2px solid black; */

}
.location {
font-weight:bold;
text-decoration: none;
margin-bottom: 10px;
position: relative;
margin-right: 15px;
}
.spot-price {
margin-top: 5px;
font-weight: bold;
text-decoration: none;
}

.bottom-descriptions {

    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 15px;


}

.star-rating{
  margin-right: 5px;
  position: relative;
  bottom: 50px;
  right: 10px;
  display: flex;
  gap: 5px;
  font-weight: bold;
}


.bottom-description {
display: flex;
justify-content: flex-end;
/* margin-left: 70px; */


}

a {
    text-decoration: none;
    color: black
}
