.wrapper-container {
display: flex;
justify-content: center;
/* flex-direction: column; */
width: 100%;
align-items: center;
}


.spotdetails-container {
display: flex;
flex-direction: column;

justify-content:center;
align-content: center;
/* width: 1065px; */
position: relative;
max-width: 1120px;
width: 100%;

/* border: 2px solid black */
}
.spotdetails-container2{
    /* display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    position: relative;
    max-width: 1120px;
    width: 100%; */
    width: 100%;
    max-width: 1020px;
}
.review-profile {
   position: relative;
   right: 100px;
}
.review-details {
    display: flex;
    position: absolute;
    left: 15px;
    top: 85.5px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;

}
.city-state {
    position: absolute;
    font-weight: lighter;
    top: 85.5px;
    left: 271px;
    font-size: 18px;
    text-decoration: underline;

    font-family: 'Montserrat', sans-serif;
}
.super-host {
    position: absolute;
    top: 85.5px;
    left: 171px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}
.reviews-count {
   display: flex;
   position: relative;
   right: -11.5px;
   font-family: 'Montserrat', sans-serif;

    text-decoration: underline;

}
.fa-medal {
    position: absolute;
    right: 100px;
    top: 2px;


}
.spotdetails-name {
font-weight: bold;
margin-bottom: 20px;
margin-top: 20px;
display: flex;
justify-content: flex-start;
font-size: 22px;
font-family: 'Montserrat', sans-serif;
}
.spotdetails-address {
display: flex;
height: 70px;
font-family: 'Montserrat', sans-serif;
}

.spotdetails-description {
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    width: 750px;
    margin-top: 150px;
    position: relative;
    height: 90px;
left: 0px;
top: 150px;
font-weight:lighter;
font-size: 18px;
border-bottom: 1px solid rgba(54, 53, 53, 0.362);
font-family: 'Montserrat', sans-serif;


}

.spotdetails-image {
    /* width: 1020px; */
    height: 600px;
    border-radius: 7px;
    width: 100%;
    max-width:1020px;
object-fit: cover;

}

.image-container {
    display: flex;
    margin-top: 65px;
    /* width:1020px; */
    height: 600px;
    max-width: 1020px;
    width: 100%;

/* width: 80%; */
    /* border: 2px solid black; */
    /* object-fit: contain; */


    /* display:flex;
    align-items: center;
    justify-content: center; */



}
.avg-rating {

   display: flex;
   justify-content: flex-start;
}

.topstar {
    position: absolute;
    left: -44px;
    top:0.5px;
}
.spot-details-preview {
    display: flex;
    justify-content:center;
    /* max-width: 100%; */
    width: 500;
    height: 550;
    border-radius: 7px;

}

.stardetails-rating{
    /* font-weight: lighter; */
    display: inline;
    position: relative;
    /* justify-content:center; */
    /* position:relative; */
    /* right: 1125px;
    bottom: -820px; */
    margin-top: 160px;
    margin-left: 17px;
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: bold;
    display: flex;
    gap: 5px;
}
.star {
    font-size: 16px;
    position: relative;
    left: -3px;
    top: 5px;

}
.length-reviews {

    display: inline-flex;

    gap: 10px;
    height: 45px;
}
.dot {

}
.spotDetailReviews {
    /* margin: 5px;
    margin-top: 100px; */
    display: inline;
    align-items: center;
    width: 750px;
    /* margin-top: 142px */

    /* margin-right: 100px; */
    /* display: flex; */
    /* border: 2px solid rgb(219, 215, 215); */
    /* height: 400px;
    left: 433px;
    bottom: -988px; */


}

.profile {

    font-size: 28px;
    position: relative;
    gap: 5px;
    top: 27px;
   left: -3px;
}
.reviews-stars-location {
display: flex;

}
.detailscreate-review {
    gap: 0px;
    column-gap: 0px;
    /* margin: 5px; */
    padding: 5px;
    display: flex;
    margin-left: 27px;
    /* position: relative; */
    left: 37px;
    width: 750px;
    font-size: 22px;
    /* font-size: 18px; */
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */


}
.containerrrr {
    display: flex;
    width: 100%;
}
.review-length {
    font-size: 20px;
    display: flex;
    margin: 5px;
    padding: 5px;
    margin-left: 25px;
}
.reviews-grid {
    display: flex;
    width: 750px;
    justify-content: space-around;
    gap: 10px;

}
/* .starss {
    position:absolute;
    top :5px;
    left: 100px;
    font-size: 16px; */

.grid {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    gap: 20px;

}
.fa-star {

}
.create-review-button {

    display: flex;
    justify-content: center;
    top: 31px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px ;
    width: 122px;
    height:35px;
    background: linear-gradient(to left, #e51e50, #d70565);
    color: white;
    border:none;
    font-family: 'Montserrat', sans-serif;
}

.create-review-button a {
    text-decoration: none;
    color: white;
    position: relative;

}

.create-review-location {
display: flex;


}
.create-and-delete-location {
display: inline;

}
.delete-review-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px ;
    width: 122px;
    height:35px;
    background: linear-gradient(to left, #e51e50, #d70565);
    color: white;
    border:none;
    font-family: 'Montserrat', sans-serif;

}
.actual-review {
display: flex;

}
.delete-review-location {
    /* position: absolute;
    top: -49px;
    left: 360px; */
}

.edit-spot {

    bottom: 159px;
    left: 810px;
    width: 112px;
    height: 45px;
}


.delete-spot-button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px ;
    width: 112px;
    height:45px;
    background: linear-gradient(to left, #e51e50, #d70565);
    color: white;
    border: none;

    left: 870px;
    font-family: 'Montserrat', sans-serif;
}
.delete-and-edit-location {
    /* position: relative; */
    left: 248px;
    display: flex;
    justify-content:flex-end;
    /* justify-content: space-between; */
    align-items: baseline;
    /* border: 2px solid red; */
    max-width: 468px;
    gap: 10px;
    width: 100%;
    margin-left: 324px;
  margin-top: 32px;
}
.house-count {
margin-top: 12px;
display: flex;
font-size: 19px;
border-bottom: 1px solid rgba(54, 53, 53, 0.362);
height: 50px;
width: 750px;

}
.home-hosted {
font-size: 22px;
margin-top: 55px;
font-weight: bold;
}


.fa-square-parking {

    position: absolute;
    left: -30px;
    height: 30px;



}

.symbol-info-container {
    height: 70px;
    margin-top: 25px;
    font-size: 19px;
    width: 750px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    position: relative;
    left: 30px;
    /* border-bottom: 1px solid rgba(54, 53, 53, 0.362); */


}

.parking-size {
    font-size:28px;
    height: 40px;
}

.great-parking {
position: absolute;
left: 15px;
bottom: 43px

}


.location-excellent {
position: relative;
top: 75px;
left: 15px;
font-size: 18px;



}


.fa-location-dot {
    position: relative;
    right:28px;
    top: 45px;
}

.symbols-container {
    height: 130px;
    border-bottom: 1px solid rgba(54, 53, 53, 0.362);
    width: 750px;
}
.trev-container {
    display: inline;
    position: relative;
    top: 110px;
    left: -30px;
    border-bottom: 1px solid rgba(54, 53, 53, 0.362);
}
.trev-cover {
color:red
}
.cover-trev {
position: relative;
left: 53px;
top: -34.2px;
}
.protection {
    position: relative;
    top: -20px;
    font-weight: lighter;
    font-size: 18px;
    left: 0px;
    border-bottom: 1px solid rgba(54, 53, 53, 0.362);
    height: 80px;
}

.the-space-container {

    font-weight: bold;
    font-size:18px;
    position: relative;
    top: 270px;
}

.check-in {
 position: relative;
 top: 280px;


}

.what-this-offers {
position: relative;
top: 200px;
font-weight: bold;
font-size: 24px;

}

.amenity-grid-container {
    width: 750px;
    height: 280px;
    border-bottom: 1px solid rgba(54, 53, 53, 0.362);
position: relative;
top: 250px;

}


.amenity-grid {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    /* justify-content: space-between; */
}

.amenities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 750px;
    justify-content: space-between;
    row-gap: 30px;
    font-size: 20px;
}
.wifi {}
.kitchen {}
.long-stays {}
.fridge {}
.free-parking {}
.heating {}
.cooling {}
.tv {}
.smoking {}
.coffee-maker {}
.haunted {}
.charging-station {}
