.spot-details {

}
.spot-name {

}
.spot-address {

}

.spot-description {
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
width: 250px

}

.spot-image {
width: 300px;
height: 300px;
border-radius: 12px;


}

.spot-preview {

}

.star-rating{

}
