.user-booking-container {
    display: flex;
    justify-content: center;
  }

  .user-booking-inner-container {
    width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .user-booking-header {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 36px;
    padding-bottom: 22px;
    line-height: 36px;
    font-size: 32px;
  }

  .user-booking-table-container {
    max-width: 1440px;
    flex-direction: column;
  }

  .user-booking-table-inner-container {
    display: flex;
    justify-content: center;
  }


  .user-booking-table {
    max-width: 1440px;
    width: 85%;
  }

  .user-booking-table-header {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
  }

  .user-booking-table-column {
    padding-bottom: 12px;
    border-bottom: 1px solid black;
  }

  .user-booking-content {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid rgb(228, 228, 228);
  }

  .user-booking-content-column {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
  }

  .user-booking-content-column-name {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
    text-decoration: underline;
  }

  .user-booking-content-column-confirmed {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
    text-decoration: underline;
  }

  .user-booking-delete {
    color: white;
    padding: 9px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 16px;
    width: 100px;
    background-color: #e51d53;
    font-family: 'Montserrat', sans-serif;
  }

  .user-booking-notrip-container {
    width: 100%;
  }

  .user-booking-notrip-inner-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 286.05px;
    border: 1px solid lightgray;
    border-radius: 12px;
    box-sizing: border-box;
  }

  .user-booking-notrip-left {
    width: 32.545833%;
    box-sizing: border-box;
    padding: 32px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
  }

  .user-booking-notrip-hand {
    height: 48px;
    width: 48px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .user-booking-notrip-header {
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 23px;
    font-size: 18px;
  }

  .user-booking-notrip-undertext {
    margin-bottom: 8px;
    font-size: 14px;
    color: #717171;;
  }

  .user-booking-notrip-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    height: 48px;
    color: white;
    padding: 14px 24px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    background-color: #e51d53;
    width: 162.63px;
    font-family: 'Montserrat', sans-serif;
  }

  .user-booking-notrip-right {
    object-fit: cover;
    object-position: center center;
    vertical-align: bottom;
    width: 66.204167%;
    border-radius: 0 12px 12px 0;
  }

  .user-booking-past-bookings {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
  }
