

.spotsContainer {
    display: flex;
    justify-content: center;

}

.spots-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* justify-items: end; */
    /* margin-left: auto;
    margin-right: auto; */
    


}
