

.spotsContainer {
    display: flex;
    justify-content: center;

}

.spots-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;


}
