.container {
display: flex;

position:sticky;
height: 65px;
margin: auto;
width: 100%;
justify-content: space-between;
border-bottom: 1px solid rgba(128, 128, 128, 0.198);
padding-bottom: 20px;
border-block-end:1;


}

.airbnb-logo {
    position: absolute;
    margin-top: 20px;
    left: 100px;
    height: 35px;

}

.user-container {

    display: flex;
    align-items: center;

}
.user-profile-menu > button:hover{
    position: relative;
    border: none;
    z-index: 0;

    box-shadow: 0px 3px 19px rgba(74, 72, 72, 0.071);
}
.user-profile-menu > button {

    padding: 10px;
    border: 1px solid grey;
    width: 50px;
    border-radius: 7px;


}
.open-menu > button:hover {

    box-shadow: 0px 3px 19px rgba(74, 72, 72, 0.071);

}
.fa-bars {
    height: 5px;
    width: 5px;
    padding-right: 10px;
    margin-top: 3px;
    margin-left: 2px;


}
.profile-dropdown-container {

    display: flex;
    flex-direction: column;
    border:1px solid rgba(84, 82, 82, 0.064);
    border-radius: 7px;
    box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.181);
    z-index: 1;
    background-color: white;

}



.profile-name {

    border-bottom: 1px solid rgba(190, 190, 190, 0.195);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.profile-spots {
    border-bottom: 1px solid rgba(190, 190, 190, 0.195);
    padding: 10px;
    font-weight: bold;
    cursor: pointer
}

.profile-host {
    border-bottom: 1px solid rgba(190, 190, 190, 0.195);
    padding: 10px;
    font-weight: bold;
    cursor: pointer
}

.logout {
   padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 7px ;
    width: 142px;
    height:35px;
    background: linear-gradient(to left, #e51e50, #d70565);
    color: white;
    border:none
}
