.airbnb-logo {
    position: absolute;
    /* margin-top: 5px; */
    bottom: -15px;
    left: 90px;
    height: 52px;
    width: 130px;



}

.navContainer {
    display: flex;
    margin: auto;
    position: sticky;
    height: 79px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(228, 228, 228);
    z-index: 0;
  }

  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;
    height: 20px;
    margin: 0px auto;
    margin-top: 30px;
  }

  .navBarRightSide {
    display: flex;
    justify-content: space-between;
    /* width: 300px; */
  }

  .navBarButtons {
    display: flex;
    justify-content: space-between;
  }

  .becomeAHost {
    padding: 12px;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
  }

  .navBarLoaded {
    display: flex;
    justify-content: center;
  }

  .becomeAHost:hover {
    background-color: rgba(200, 200, 200, 0.18);
  }

  .user-session {
    display: flex;
    align-items: center;
  }

  .userProfileMenu {
    position: relative;
    border: none;
    z-index: 0;
    width: 77px;
    height: 42px;
  }

  .userProfileMenu > button:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }

  .userProfileMenu > button {
    padding: 10px;
    width: 77px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 20px;
    transition: box-shadow 0.2s ease 0s;
  }

  .profile-container {
    border: 1px solid gray;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 200px;
    /* height: 195px; */
    left: -130px;
    top: 50px;
    border-radius: 15px;
    border: none;
    z-index: 2;
    box-shadow: 0 2px 22px 0 hsla(0, 0%, 31%, 0.158);
  }

  .profile-name {
    border-bottom: 1px solid lightgray;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }

  .profile-manage-listings {
    border-bottom: 1px solid lightgray;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }

  .profile-manage-reviews {
    border-bottom: 1px solid lightgray;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }

  .profile-manage-bookings {
    border-bottom: 1px solid lightgray;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }

  .profile-logout {
    padding: 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }

  .profile-manage-listings:hover {
    background-color: rgba(200, 200, 200, 0.18);
  }

  .profile-manage-reviews:hover {
    background-color: rgba(200, 200, 200, 0.18);
  }

  .profile-manage-bookings:hover {
    background-color: rgba(200, 200, 200, 0.18);
  }

  .profile-logout:hover {
    background-color: rgba(200, 200, 200, 0.18);;
    border-radius: 0 0 12px 12px;
  }

  .userProfileButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77px;
    height: 42px;
  }

  .no-user-profile-login-button {
    border-bottom: 1px solid lightgray;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }

  .no-user-profile-login-button:hover {
    background-color: rgba(200, 200, 200, 0.18);
    /* border-radius: 0 0  15px 0 0; */
  }

  .no-user-profile-signup-button {
    border-bottom: 1px solid lightgray;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* border-radius: 0 0  15px; */
  }
  .no-user-profile-demo-button{
     /* border-radius: 0 0  15px; */
     border-bottom: 1px solid lightgray;
     padding: 15px;
     cursor: pointer;
     font-size: 14px;
     font-family: 'Montserrat', sans-serif;
     border-radius: 0 0 15px 15px;

  }

  .no-user-profile-signup-button:hover {
    background-color: rgba(200, 200, 200, 0.18);
  }

  .no-user-profile-demo-button:hover {
    background-color: rgba(200, 200, 200, 0.18);
    border-radius: 0 0 15px 15px;
  }
