
.container-top {
margin: 0px;
padding: 0px

}
.container {
display: flex;

position:sticky;
height: 25px;
/* margin: auto; */
width: 100%;
/* justify-content: space-between; */
border-bottom: 1px solid rgba(128, 128, 128, 0.198);
padding-bottom: 10px;
/* z-index: 2; */




}

.airbnb-logo {
    position: absolute;
    margin-top: 5px;
    bottom: 25px;
    left: 99px;
    height: 32px;


}

.user-container {
    position: sticky;
    z-index: 1;

}
.user-profile-menu > button:hover{
    position: relative;
    border: none;
    /* z-index: 1; */
    border: 1px solid grey;
    box-shadow: 0px 3px 4px rgba(74, 72, 72, 0.233);
}
.user-profile-menu > button {
    padding: 10px;
    border: 1px solid grey;
    width: 70px;
    height: 40px;
    border-radius: 17px;
    color: grey;
    background-color: white;
    /* box-shadow: 0px 3px 19px rgba(74, 72, 72, 0.081) */



}
.open-menu {
    z-index: 0;
}
.open-menu > button:hover {

    box-shadow: 2px 3px 19px rgba(14, 14, 14, 0.071);

}
.fa-bars {
    height: 5px;
    width: 5px;
    /* padding-right: 10px; */
    margin-top: 3px;
    margin-left: 2px;
    display: flex;


}
.fa-user-circle{
height: 7px;
width: 5px;
margin: 2px;
margin-left: 2px;
left: 4px;

position: relative;
bottom: 5px;



}
.profile-dropdown-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* border:1px solid rgba(84, 82, 82, 0.064); */
    border-radius: 7px;
    box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.181);
    z-index: 0;
    background-color: white;

}



.profile-name {

    border-bottom: 1px outset rgba(190, 190, 190, 0.195);
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.profile-spots {
    border-bottom: 1px solid rgba(190, 190, 190, 0.195);
    padding: 10px;
    font-weight: bold;
    cursor: pointer
}

.profile-host {
    /* border-bottom: 1px solid rgba(190, 190, 190, 0.195); */

    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 250px;
    bottom: 30px;
}

.logout {
    /* display: flex; */

   padding: 10px;
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 7px ; */
    width: 142px;
    height:35px;
    background: linear-gradient(to left, #e51e50, #d70565);
    color: white;
    border:none
}

.test-route {
    display: flex;
    justify-content: end;
    position: relative;
    left: -133px;
    top: 14px;

}
